.container-box{
    padding: 10px 60px;
}

.purple-text{
    height: 90px;
    /* display: block; */
    padding: 9px 15px;
    border: 1.8px solid black;
    margin: 10px;
    /* position: ; */
    background-color: white;
}

.pcont-box{
    height: 400px;
}

.card{
    border-radius: 16px !important;
    background: rgba(255,255,255,0.5) !important;
    backdrop-filter: blur(5px) !important;
}


.card-header-t{
    text-align: center !important;
}


#scroll-container{
    color: gray;
    font-size: small;
    /* width: 1000px;
    overflow: auto;
    width: max-content; */
}

@media screen and (max-width: 599px) {
    .purple-text{
        height: 55px !important;
        padding: 5px 10px;
        border: 1px solid black;
        margin: 6px;
    }
    .container-box{
        padding: 10px 15px !important;
    }
    .pcont-box{
        height: 300px !important;
        padding: 0 30px !important;
    }
}

@media screen and (min-width: 600px) and (max-width: 821px) {
    .pcont-box{
        margin-bottom: 100px;
    }
}
/* 600 - 821 */